<!DOCTYPE html>
<html lang="en" ng-app="gapminderTools">
<head>
  <base href="/tools/">
  <title>Gapminder Tools</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% for (var prop in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%= o.htmlWebpackPlugin.files.css[prop] %}" rel="stylesheet" type="text/css">
  {% } %}
  <link href="./favicon.ico" rel="shortcut icon">
</head>
<body ng-controller="gapminderToolsCtrl" ng-class="{loading : loading}" class="{{ bodyClass }}" ng-cloak>
<div class="wrapper" ng-class="{hidden : loadingError}">
  <!--Header-->
  <div class="header">
    <a class="header-title" href="http://www.gapminder.org">
      GAPMINDER TOOLS
    </a>
    <button ng-click="newTab()">new tab</button>

    <label><input type="radio" ng-model="mode" value="default">default</label>
    <label><input type="radio" ng-model="mode" value="ddf">ddf</label>&nbsp;&nbsp;

    <select ng-if="mode==='default'" ng-model="selectedGraph" ng-change="openGraph(selectedGraph)">
      <option value="">choose graph</option>
      <option ng-repeat="graph in graphs">{{graph.name}}</option>
    </select>

    <select ng-if="mode==='ddf'" ng-model="ddf.type">
      <option value="">choose graph type</option>
      <option ng-repeat="type in ddf.types" value="{{type.value}}">{{type.name}}</option>
    </select>

    <label ng-if="mode==='ddf'">DDF data URL<input type="text" ng-model="ddf.url"></label>
    <input type="button" ng-if="mode==='ddf'" ng-click="loadDdf()" value="Load" />

    <span>List of favorites:</span>
    <select ng-if="mode==='default'" ng-model="selectedGraph" ng-change="openGraph(selectedGraph)">
      <option value="">choose graph</option>
      <option ng-repeat="graph in favorites">{{graph.name}}</option>
    </select>
    <ul id="tabs">
      <li ng-repeat="tab in tabs">
        <a ng-class="{'selected-tab': tab.id === currentTab}"
           ng-click="setTab(tab.id)">tab #{{tab.id}} <a ng-click="closeTab(tab.id)">X</a>
        </a>
      </li>
    </ul>

    <div class="pre-popup" ng-if="ddf.popup === true">
      <div ng-if="ddf.type === 'BubbleChart' || ddf.type === 'MountainChart'">
        <div class="popup-block">
          X axis:
          <select ng-model="ddf.xAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
        <div class="popup-block">
          Y axis:
          <select ng-model="ddf.yAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
        <div class="popup-block">
          Size axis:
          <select ng-model="ddf.sizeAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
      </div>
      <div ng-if="ddf.type === 'BubbleMap'">
        <div class="popup-block">
          Size measure:
          <select ng-model="ddf.sizeAxis">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.measure}}">{{axis.name}}</option>
          </select>
        </div>
      </div>
      <div class="popup-footer">
        <input type="button"
               ng-disabled="((ddf.type === 'BubbleChart' || ddf.type === 'MountainChart') && (!ddf.xAxis || !ddf.yAxis || !ddf.sizeAxis)) || (ddf.type === 'BubbleMap' && !ddf.sizeAxis)"
               ng-click="openDdf()"
               value="Go" />
        <input type="button" ng-click="closeDdf()" value="Close" />
      </div>
    </div>

    <div class="menu-mobile" ng-click="navCollapsed = !navCollapsed"  ng-class="navCollapsed ? 'open' : '' ">
      <div class="icon"></div>
    </div>
  </div>

  <button ng-show="!favorites[selectedGraph]"
          ng-click="addToFavorites(selectedGraph)">add to favorites</button>
  <button ng-show="favorites[selectedGraph]"
          ng-click="removeFromFavorites(selectedGraph)">remove from favorites</button>

  <div ng-repeat="tab in tabs | orderBy: '-id' track by tab.id"
       class="column main"
       ng-show="currentTab === tab.id"
       id="vizabi-placeholder{{tab.id}}">
  </div>

  <!--More-->
  <div class="more">
    <div class="about">
      <h2 class="heading-2">See also</h2>

      <div class="menu"></div>
      <ul class="menu-primary">
        <li class="menu-item" ng-repeat="(key, tool) in tools track by $index">
          <a ng-hide="activeTool == key"
             ng-click="url(key)">
            <span class="title">{{::tool.title}}</span>
            <img class="image" ng-src="{{::tool.image}}">
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="wrapper-error" ng-class="{hidden : !loadingError}">
  <!--Error-->
  <h1 class="header-title">GAPMINDER TOOLS</h1>

  <h2>Ops! Something went terribly wrong</h2>
</div>

{% for (var chunk in o.htmlWebpackPlugin.files.js) { %}
<script src="{%=o.htmlWebpackPlugin.files.js[chunk]%}"  charset="utf-8"></script>
{% } %}
</body>
</html>
