<!DOCTYPE html>
<html lang="en" ng-app="gapminderTools">
<head>
  {% if (!o.webpackConfig.output.isElectronApp) { %}
  <base href="/tools/">
  {% } %}
  <title>Gapminder Offline 0.13.11-2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% for (var prop in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%= o.htmlWebpackPlugin.files.css[prop] %}" rel="stylesheet" type="text/css">
  {% } %}
  <link href="./favicon.ico" rel="shortcut icon">
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-controller="gapminderToolsCtrl" ng-class="{loading : loading}" class="{{ bodyClass }}" ng-cloak>
<div class="wrapper" ng-class="{hidden : loadingError}">
  <!--Header-->
  <div class="header">
    <a class="header-title" href="http://www.gapminder.org">
      GAPMINDER TOOLS
    </a>
    <ul id="tabs" class="tabs">
      <li ng-repeat="tab in tabs"  ng-class="{'selected-tab': tab.id === currentTab}">
        <a
           ng-click="setTab(tab.id)">{{tab.tabName}} {{tab.id+1}}
        </a>
        <a class="close" ng-click="closeTab(tab.id)">X</a>
      </li>
    </ul>
    <button class="add-tab" ng-click="newTab()">+</button>

    <div class="pre-popup" ng-if="ddf.popup === true">

      <div class="popup-block">
        <select ng-model="ddf.type">
          <option value="">choose graph type</option>
          <option ng-repeat="type in ddf.types" value="{{type.value}}">{{type.name}}</option>
        </select>
        <input type="button" ng-click="loadChromeFs()" ng-if="config.isChromeApp" ng-disabled="ddf.chromeExternalDdfPath === 'false'" value="Select root folder" />
        <input type="button" ng-click="loadMeasures()" ng-disabled="ddf.chromeExternalDdfPath === 'true' && !hasChromeFs()" value="Load measures" />
        <input type="button" ng-click="defaults()" value="Default path prefixes"/>
        <input type="button" ng-click="expertMode = !expertMode" value="Expert mode {{expertMode ? '[OFF]' : '[ON]'}}"/>
      </div>

      <div ng-if="config.isChromeApp" class="popup-block">
        <label>DDF path type</label>:
        <label><input type="radio" ng-model="ddf.chromeExternalDdfPath" value="false" ng-change='defaults()'> Native</label>
        <label><input type="radio" ng-model="ddf.chromeExternalDdfPath" value="true" ng-change='defaults()'> External</label>
      </div>
      <div class="popup-block" ng-if="ddf.chromeExternalDdfPath === 'true'"><label>Custom DDF folder</label> <b>{{chromeFsRootPath}}</b></div>

      <div class="popup-block" ng-if="!!ddfError" style="color: red;">{{ddfError}}</div>

      <div class="popup-block">
        <label>DDF default data folder (folder)&nbsp;<input type="text" ng-model="ddf.url" size="40"></label>
      </div>

      <div class="popup-block">
        <label>DDF default metadata prefix (folder&file name)&nbsp;<input type="text" ng-model="ddf.metadataUrl" size="40"></label>
      </div>

      <div class="popup-block">
        <label>DDF default translations prefix (folder&file name)&nbsp;<input type="text" ng-model="ddf.translationsUrl" size="40"></label>
      </div>

      <div class="popup-block" ng-if="expertMode">
        Main query for Vizabi for different charts (GW - default)<br>
        <textarea ng-model="ddf.mainQuery[ddf.type]" rows="12" cols="100" style="font-size: x-small;"></textarea>
        <br>
        Entities query (GW default)<br>
        <textarea ng-model="ddf.expectedMeasuresQuery" rows="4" cols="100" style="font-size: x-small;"></textarea>
      </div>

      <div ng-if="ddf.type === 'BubbleChart' || ddf.type === 'MountainChart'">
        <div class="popup-block">
          X axis:
          <select ng-model="ddf.xAxis" ng-disabled="ddf.measures.length < 1">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.concept}}">{{axis.name}}</option>
          </select>
        </div>
        <div class="popup-block">
          Y axis:
          <select ng-model="ddf.yAxis" ng-disabled="ddf.measures.length < 1">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.concept}}">{{axis.name}}</option>
          </select>
        </div>
        <div class="popup-block">
          Size axis:
          <select ng-model="ddf.sizeAxis" ng-disabled="ddf.measures.length < 1">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.concept}}">{{axis.name}}</option>
          </select>
        </div>
      </div>
      <div ng-if="ddf.type === 'BubbleMap'">
        <div class="popup-block">
          Size measure:
          <select ng-model="ddf.sizeAxis" ng-disabled="ddf.measures.length < 1">
            <option value="">choose measure</option>
            <option ng-repeat="axis in ddf.measures" value="{{axis.concept}}">{{axis.name}}</option>
          </select>
        </div>
      </div>

      <div class="popup-block">
        Current time:
        <input type="text" ng-model="ddf.currentTime">
        End time:
        <input type="text" ng-model="ddf.endTime">
      </div>

      <div class="popup-footer">

        <input type="button"
               ng-disabled="cantGo()"
               ng-click="openDdf()"
               value="Go" />
        <input type="button" ng-click="closeDdf()" value="Close" />
      </div>
    </div>

    <div class="menu-mobile" ng-click="navCollapsed = !navCollapsed;" ng-class="navCollapsed ? 'open' : '' ">
      <div class="icon"></div>
    </div>

    <ul class="nav navbar-nav navbar-nav-left mobile" ng-if="navCollapsed" nav-expandable="" >
      <li style="color: grey">About</li>
      <li style="color: grey">Version</li>
      <li style="color: grey">Look for updates</li>
      <li style="color: grey">Provide feedback</li>
      <li><a href ng-click="loadFolderOptions()">Load DDF folder option</a></li>
    </ul>

  </div>

  <div ng-repeat="tab in tabs | orderBy: '-id' track by tab.id"
       class="column main"
       ng-show="currentTab === tab.id"
       id="vizabi-placeholder{{tab.id}}">
  </div>
</div>

<div class="wrapper-error" ng-class="{hidden : !loadingError}">
  <!--Error-->
  <h1 class="header-title">Gapminder Offline</h1>

  <h2>Ops! Something went terribly wrong</h2>
</div>

{% for (var chunk in o.htmlWebpackPlugin.files.js) { %}
<script src="{%=o.htmlWebpackPlugin.files.js[chunk]%}"  charset="utf-8"></script>
{% } %}
</body>
</html>
