.pre-popup {
    width: 750px;
    position: absolute;
    top: 40px;
    left: 30%;
    background: #fff;
    border: 2px solid #f9cc3e;
    padding: 10px;
}

.popup-block {
    padding: 10px;
}

.popup-footer {
    padding-top: 10px;
}
